body{
  background-color: #ecf4f3;
  text-align: center;
  position: relative;
  margin-top:0;
  font-family: 'Merriweather',serif;
}
h1{
	color: #66BFBF;
	margin-top: 6px;
	font-size: 2.625rem;
  font-family: 'Sacramento', cursive;
   line-height: 2;

}
p {
	font-weight: normal;
	color: #393b44;
	font-size: 1.3rem;
}
h2 {
	color: #66BFBF;
	font-size: 44px;
}
h3 {
	color: #2ec1ac;
}

hr{
	width: 10%;
	border-top: 10px dotted #d6e0f0;
}

.ppic{
	margin-top: 30px;
	width: 200px;
	height: 200px;
	border-radius: 50%
}

.skl{
	margin-right: 30px;
	width: 300px;
	height: 300px;
	border-radius: 50%
}

.skills{
	margin-top: 100px;
}
.contact-me{
	margin-top: 100px;
}
.top-container{
position: relative;
margin-bottom: 100px;

}

.middle-container{
	
}
.web {
	color: #65BFBF;
	font-size: 2.5em;
	margin: 0;
}

.top-cloud{
	position: absolute;
	top: 100px;
	right: 80px;
}

.bottom-cloud{
	position: absolute;
	left: 70px;
}

.skill-row{
	width: 50%;
	margin: 100px auto 100px auto;
}



